.form-wrapper {
  height: 91.5vh;
  background: rgba(220, 248, 247, 0.418);
}
.form{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 4px;
}
.input-field {
  outline: none;
  border: 1px solid;
  margin: 10px 0px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
}
.input-field:last-child {
  margin-right: 0px;
}

input.addBtn {
  display: block;
  width: 100%;
  padding: 8px;
  text-transform: uppercase;
  border: none;
  color: #fff;
  border-radius: 4px;
}
